div .Container{
    justify-content: center;
    width: 500px;
    min-height:100px;
    padding: 20px;
    margin-top: 50px; 
    border: 1px solid #ddd;
}


.Bio{
   margin-bottom: 30px;
}
.Bio h3{
    font: size 20px;
    font-weight: 400;
}
.Bio p{
    font-size: 17px;
    color:black;
    margin-top: 5px;
}




.skills{
   margin-bottom:30px; ;
}
.skills h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.skills ul{
    list-style-type: none;
}

.skills ul li{
    display: inline-block;
    padding: 5px 15px;
    background: #efefef;
    margin-right: 20px;
    border-radius: 5px;
}










.Links{
    margin-bottom:30px ;
}
.Links h3{
    font-size:20px ;
    font-weight: 500;
    margin-bottom: 10px;
}

.Links ul{
    list-style-type:none;
}


.Links ul li{
    display: inline-block;
    padding: 5px  15px;
    margin-right: 20px;
}
.Links ul li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.Links ul li a:hover{
    color: #ffa500;
}